.middle-text{
	@include centerer;
}

#h1{
	animation: fadeIn 2s ease-in;
	text-align: center;
	font-size: 2.25rem;
    line-height: 1.3;
    letter-spacing: 0.5rem;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
}

#p{
	@extend #h1;
	font-size: 1rem;
	letter-spacing: 0.2rem;
	font-weight: 100;
}

#logo{
	@extend #p;
	margin-top: 40px;
	margin-left: -10px;
	font-size: 4.25rem;
	font-family: Snell Roundhand;
}

#p1{
	@extend #p;
	@include centerer;
	// text-transform: none;
}

#p2{
	@extend #p1;
}

#imgWrapper{
	@include centerer;
	width: 270px;
	margin-top: 400px;
	animation: fadeIn 2s;
	border: 1px solid black;
}

.m_{
	margin-right: 50px;
	@include centerer;
	position: static;
	transform-origin: left top;
	z-index: 1;
	//border: 1px solid red;
}

.m_:hover img{
	transition: transform .5s;
	transform: scale(1.5);
}

#email {
	margin-right: 0px;
	//border: 1px solid blue;
}

