.shape{
	@include circler;
}
.shape1{
	@extend .shape;
	animation: blink_ 2s infinite alternate;
}
.shape2{
	@extend .shape;
	animation: blink_ 1.5s infinite alternate;
}

#triangle{
	@include centerer;
	width: $size2;
	height: $size2;
	border-radius:50%;
	border: 1px solid white;
	// animation: fadeIn 1s ease-in;
}

#triangle:hover{
	background: gray;
	opacity: .7;
	animation: _hoverTIn_ 100s ease infinite alternate;
}

#square1{
	@include squarer;
	animation: rotateL 1s ease-in-out infinite alternate, fadeIn 1s ease-in;
	margin-left: -200px;
	margin-top: -350px;
}

#square2{
	@include squarer;
	animation: rotateR 1s ease-in-out infinite alternate, fadeIn 1s ease-in;
	margin-left: 700px;
	margin-top: -350px;
}